BIN
DCU
/XRayCalc2.dproj.local
/XRayCalc2.dsk
/PSO_delphi.pas
/forms/__recovery/frm_Main.dfm
/forms/__recovery/frm_Main.pas
Old
/*.local
/*.identcache
test_data
DCU64
BIN64
Resources
*.tvsconfig
*.local
*.~pas
*.identcache
/*.json
/components/*.RES
/*.dsk
*.dsv
/*.~dsk
Debug
__history
CMDBin
*.dsk
