BIN
DCU
Old
/*.local
/*.identcache
test_data
DCU64
BIN64
*.tvsconfig
*.local
*.~pas
*.identcache
/*.json
/XRayCalc3/Components/*.RES
/*.dsk
*.dsv
/*.~dsk
Debug
__history
__recovery
CMDBin
*.dsk
Win32
Win64
_Out
/.claude/settings.local.json
/_Installer/deploy
/_Installer/SetupOutput
.superpowers/
16x16
